/* navbar */
.navbar{
    padding: 2rem;
    background-color: #d8eaff;
}

.navbar .navbar-brand{
    margin-left: 10%;
}

.navbar .navbar-toggler{
    margin-right: 2rem;
}

.navbar-collapse{
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav .nav-link{
    font-size: 1.1rem;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2, h4{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-img-top{
    max-width: 600px;
}

.btn-primary{
    margin-top: 1rem;
}

.card .carousel{
    max-width: 600px;
}

.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: black;
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button i:hover{
    color: black;
}

/* footer */

.footer{
    background-color: #d6d6d6
}

.footer__section{
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: 2rem;
    margin: 0 5rem;
}

.footer__section h5{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer__container{
    padding: 1rem;
}

.footer .footer__subtitle{
    text-align: center;
    padding: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer__email h5{
    margin-bottom: 0.5rem;
}

.footer__email{
    margin: 0;
    text-decoration: none;
}

.email{
    display: flex;
    gap: 0.5rem;
}

.wa{
    display: flex;
    gap: 0.5rem;
}

.footer__rrss .list{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
}

.footer__develop {
    display: grid;
    place-items: center; /* Esto centra vertical y horizontalmente */
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.develop--img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.footer .developer{
    text-decoration: none;
    padding-top: 0.5rem;
}

.copyright{
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #949494;
    padding-left: 3rem;
}


@media screen and (max-width:767px){
    .navbar-toggler{
        margin-left: auto;
    }

    .footer__section{
        display: grid;
        justify-content: center;
        place-items: center
    }

}

